@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes jump {
            0% {
                        transform: translateY(0);
            }

            50% {
                        transform: translateY(-20px);
            }

            100% {
                        transform: translateY(0);
            }
}


@keyframes fadeIn {
            0% {
                        opacity: 0;
                        transform: translateY(-20px);
            }

            100% {
                        opacity: 1;
                        transform: translateY(0);
            }
}

.delete-animation {
            opacity: 0;
            transform: translateX(-100%);
            transition: opacity 0.5s ease, transform 0.5s ease;
}


